/* html {
    scroll-behavior: smooth;
  }
  
.footer-content {
    max-width: 1200px;
    margin: auto;
}

.footer-container h4{
    color: #fff;
}

.footer-container p{
    color: #545557 ;
}

.about-us{
    max-width: 350px;
}

.social-media a{
    font-size: 20px;
    color: #fff;
    padding-right: 15px;
}

.btn{
    background-color: #B01F22
}

.copyright {
    font-size: small;
}


@include media-breakpoint-down(sm) (max-width:412px){
    footer{
        padding:10px;
        font-size: 14px;
        flex-direction: column;
    }
} */